.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 1rem;
    border-radius: inherit;
    gap: 0.5rem;
    transition: .2s background var(--transition);
    & > span {
      font-size: 1.125rem;
    }
  }
}

.standard {
  background: var(--primary);
  & > div {
    color: var(--on-primary);
  }
  &:hover > div {
    background: var(--state-layer-on-primary-008);
  }
  &:active > div {
    background: var(--state-layer-on-primary-012);
  }
}

.text {
  & > div {
    color: var(--primary);
  }
  &:hover > div {
    background: var(--state-layer-primary-008);
  }
  &:active > div {
    background: var(--state-layer-primary-012);
  }
}

.outlined_primary {
  border: 1px solid var(--primary);
  & > div {
    color: var(--primary);
  }
  &:hover > div {
    background: var(--state-layer-primary-008);
  }
  &:active > div {
    background: var(--state-layer-primary-012);
  }
}

.text_error {
  & > div {
    color: var(--error);
  }
  &:hover > div {
    background: var(--state-layer-error-008);
  }
  &:active > div {
    background: var(--state-layer-error-012);
  }
}

.text.disabled {
  pointer-events: none;
  & > div {
    opacity: 0.38;
    color: var(--on-surface);
  }
}

.standard.disabled {
  pointer-events: none;
  background: var(--state-layer-on-surface-012);
  & > div {
    opacity: 0.38;
    color: var(--on-surface);
  }
}
