.dark {
  /* transition */
  --transition: cubic-bezier(0.2, 0, 0, 1);

  /* colors */
  --primary: #b2c5ff;
  --on-primary: #002b72;
  --primary-container: #0040a1;
  --on-primary-container: #dae2ff;
  --primary-fixed: #dae2ff;
  --on-primary-fixed: #001847;
  --primary-fixed-dim: #b2c5ff;
  --on-primary-fixed-variant: #0040a1;
  --secondary: #c0c6dd;
  --on-secondary: #2a3042;
  --secondary-container: #404659;
  --on-secondary-container: #dce2f9;
  --secondary-fixed: #dae2ff;
  --on-secondary-fixed: #021945;
  --secondary-fixed-dim: #b3c5fb;
  --on-secondary-fixed-variant: #334573;
  --tertiary: #e1bbdd;
  --on-tertiary: #412741;
  --tertiary-container: #5a3d59;
  --on-tertiary-container: #fed7f9;
  --tertiary-fixed: #fbd7ff;
  --on-tertiary-fixed: #330044;
  --tertiary-fixed-dim: #f0b0ff;
  --on-tertiary-fixed-variant: #72188f;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffdad6;
  --outline: #8f909a;
  --background: #11131a;
  --on-background: #e1e2ec;
  --surface: #11131a;
  --on-surface: #e4e2e6;
  --surface-variant: #424654;
  --on-surface-variant: #aaacbb;
  --inverse-surface: #e1e2ec;
  --inverse-on-surface: #2e3038;
  --inverse-primary: #0856cf;
  --shadow: #000000;
  --surface-tint: #b2c5ff;
  --outline-variant: #424654;
  --scrim: #000000;
  --surface-container-highest: #32343c;
  --surface-container-high: #282a31;
  --surface-container: #1d1f27;
  --surface-container-low: #191b23;
  --surface-container-lowest: #0c0e15;
  --surface-bright: #373941;
  --surface-dim: #11131a;

  /* effects */
  --elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.15);
  --elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.15);
  --elevation-4: 0px 2px 3px rgba(0, 0, 0, 0.3),
    0px 6px 10px rgba(0, 0, 0, 0.15);
  --elevation-5: 0px 4px 4px rgba(0, 0, 0, 0.3),
    0px 8px 12px rgba(0, 0, 0, 0.15);

  /* state layers */
  --state-layer-primary-008: #b2c5ff08;
  --state-layer-primary-012: #b2c5ff12;
  --state-layer-primary-016: #b2c5ff16;
  --state-layer-on-primary-008: #381e7208;
  --state-layer-on-primary-012: #381e7212;
  --state-layer-on-primary-016: #381e7216;
  --state-layer-primary-container-008: #4f378b08;
  --state-layer-primary-container-012: #4f378b12;
  --state-layer-primary-container-016: #4f378b16;
  --state-layer-on-primary-container-008: #eaddff08;
  --state-layer-on-primary-container-012: #eaddff12;
  --state-layer-on-primary-container-016: #eaddff16;
  --state-layer-primary-fixed-008: #eaddff08;
  --state-layer-primary-fixed-012: #eaddff12;
  --state-layer-primary-fixed-016: #eaddff16;
  --state-layer-on-primary-fixed-008: #21005d08;
  --state-layer-on-primary-fixed-012: #21005d12;
  --state-layer-on-primary-fixed-016: #21005d16;
  --state-layer-primary-fixed-dim-008: #d0bcff08;
  --state-layer-primary-fixed-dim-012: #d0bcff12;
  --state-layer-primary-fixed-dim-016: #d0bcff16;
  --state-layer-on-primary-fixed-variant-008: #4f378b08;
  --state-layer-on-primary-fixed-variant-012: #4f378b12;
  --state-layer-on-primary-fixed-variant-016: #4f378b16;
  --state-layer-secondary-008: #b3c5fb08;
  --state-layer-secondary-012: #b3c5fb12;
  --state-layer-secondary-016: #b3c5fb16;
  --state-layer-on-secondary-008: #332d4108;
  --state-layer-on-secondary-012: #332d4112;
  --state-layer-on-secondary-016: #332d4116;
  --state-layer-secondary-container-008: #4a445808;
  --state-layer-secondary-container-012: #4a445812;
  --state-layer-secondary-container-016: #4a445816;
  --state-layer-on-secondary-container-008: #e8def808;
  --state-layer-on-secondary-container-012: #e8def812;
  --state-layer-on-secondary-container-016: #e8def816;
  --state-layer-secondary-fixed-008: #e8def808;
  --state-layer-secondary-fixed-012: #e8def812;
  --state-layer-secondary-fixed-016: #e8def816;
  --state-layer-on-secondary-fixed-008: #1d192b08;
  --state-layer-on-secondary-fixed-012: #1d192b12;
  --state-layer-on-secondary-fixed-016: #1d192b16;
  --state-layer-secondary-fixed-dim-008: #ccc2dc08;
  --state-layer-secondary-fixed-dim-012: #ccc2dc12;
  --state-layer-secondary-fixed-dim-016: #ccc2dc16;
  --state-layer-on-secondary-fixed-variant-008: #4a445808;
  --state-layer-on-secondary-fixed-variant-012: #4a445812;
  --state-layer-on-secondary-fixed-variant-016: #4a445816;
  --state-layer-tertiary-008: #f0b0ff08;
  --state-layer-tertiary-012: #f0b0ff12;
  --state-layer-tertiary-016: #f0b0ff16;
  --state-layer-on-tertiary-008: #49253208;
  --state-layer-on-tertiary-012: #49253212;
  --state-layer-on-tertiary-016: #49253216;
  --state-layer-tertiary-container-008: #633b4808;
  --state-layer-tertiary-container-012: #633b4812;
  --state-layer-tertiary-container-016: #633b4816;
  --state-layer-on-tertiary-container-008: #ffd8e408;
  --state-layer-on-tertiary-container-012: #ffd8e412;
  --state-layer-on-tertiary-container-016: #ffd8e416;
  --state-layer-tertiary-fixed-008: #ffd8e408;
  --state-layer-tertiary-fixed-012: #ffd8e412;
  --state-layer-tertiary-fixed-016: #ffd8e416;
  --state-layer-on-tertiary-fixed-008: #31111d08;
  --state-layer-on-tertiary-fixed-012: #31111d12;
  --state-layer-on-tertiary-fixed-016: #31111d16;
  --state-layer-tertiary-fixed-dim-008: #efb8c808;
  --state-layer-tertiary-fixed-dim-012: #efb8c812;
  --state-layer-tertiary-fixed-dim-016: #efb8c816;
  --state-layer-on-tertiary-fixed-variant-008: #633b4808;
  --state-layer-on-tertiary-fixed-variant-012: #633b4812;
  --state-layer-on-tertiary-fixed-variant-016: #633b4816;
  --state-layer-error-008: #ffb4ab08;
  --state-layer-error-012: #ffb4ab12;
  --state-layer-error-016: #ffb4ab16;
  --state-layer-on-error-008: #60141008;
  --state-layer-on-error-012: #60141012;
  --state-layer-on-error-016: #60141016;
  --state-layer-error-container-008: #8c1d1808;
  --state-layer-error-container-012: #8c1d1812;
  --state-layer-error-container-016: #8c1d1816;
  --state-layer-on-error-container-008: #f9dedc08;
  --state-layer-on-error-container-012: #f9dedc12;
  --state-layer-on-error-container-016: #f9dedc16;
  --state-layer-outline-008: #8d909f08;
  --state-layer-outline-012: #8d909f12;
  --state-layer-outline-016: #8d909f16;
  --state-layer-background-008: #11131a08;
  --state-layer-background-012: #11131a12;
  --state-layer-background-016: #11131a16;
  --state-layer-on-background-008: #e6e0e908;
  --state-layer-on-background-012: #e6e0e912;
  --state-layer-on-background-016: #e6e0e916;
  --state-layer-surface-008: #11131a08;
  --state-layer-surface-012: #11131a12;
  --state-layer-surface-016: #11131a16;
  --state-layer-on-surface-008: #e6e0e908;
  --state-layer-on-surface-012: #e6e0e912;
  --state-layer-on-surface-016: #e6e0e916;
  --state-layer-surface-variant-008: #49454f08;
  --state-layer-surface-variant-012: #49454f12;
  --state-layer-surface-variant-016: #49454f16;
  --state-layer-on-surface-variant-008: #cac4d008;
  --state-layer-on-surface-variant-012: #cac4d012;
  --state-layer-on-surface-variant-016: #cac4d016;
  --state-layer-inverse-surface-008: #e6e0e908;
  --state-layer-inverse-surface-012: #e6e0e912;
  --state-layer-inverse-surface-016: #e6e0e916;
  --state-layer-inverse-on-surface-008: #322f3508;
  --state-layer-inverse-on-surface-012: #322f3512;
  --state-layer-inverse-on-surface-016: #322f3516;
  --state-layer-inverse-primary-008: #6750a408;
  --state-layer-inverse-primary-012: #6750a412;
  --state-layer-inverse-primary-016: #6750a416;
  --state-layer-shadow-008: #00000008;
  --state-layer-shadow-012: #00000012;
  --state-layer-shadow-016: #00000016;
  --state-layer-surface-tint-008: #d0bcff08;
  --state-layer-surface-tint-012: #d0bcff12;
  --state-layer-surface-tint-016: #d0bcff16;
  --state-layer-outline-variant-008: #49454f08;
  --state-layer-outline-variant-012: #49454f12;
  --state-layer-outline-variant-016: #49454f16;
  --state-layer-scrim-008: #00000008;
  --state-layer-scrim-012: #00000012;
  --state-layer-scrim-016: #00000016;
  --state-layer-surface-container-highest-008: #36343b08;
  --state-layer-surface-container-highest-012: #36343b12;
  --state-layer-surface-container-highest-016: #36343b16;
  --state-layer-surface-container-high-008: #2b293008;
  --state-layer-surface-container-high-012: #2b293012;
  --state-layer-surface-container-high-016: #2b293016;
  --state-layer-surface-container-008: #211f2608;
  --state-layer-surface-container-012: #211f2612;
  --state-layer-surface-container-016: #211f2616;
  --state-layer-surface-container-low-008: #1d1b2008;
  --state-layer-surface-container-low-012: #1d1b2012;
  --state-layer-surface-container-low-016: #1d1b2016;
  --state-layer-surface-container-lowest-008: #0f0d1308;
  --state-layer-surface-container-lowest-012: #0f0d1312;
  --state-layer-surface-container-lowest-016: #0f0d1316;
  --state-layer-surface-bright-008: #3b383e08;
  --state-layer-surface-bright-012: #3b383e12;
  --state-layer-surface-bright-016: #3b383e16;
  --state-layer-surface-dim-008: #14121808;
  --state-layer-surface-dim-012: #14121812;
  --state-layer-surface-dim-016: #14121816;
  --state-layer-surface-tint-008: #b2c5ff08;
  --state-layer-surface-tint-012: #b2c5ff12;
  --state-layer-surface-tint-016: #b2c5ff16;
  --state-layer-on-primary-008: #002b7208;
  --state-layer-on-primary-012: #002b7212;
  --state-layer-on-primary-016: #002b7216;
  --state-layer-primary-container-008: #004ec008;
  --state-layer-primary-container-012: #004ec012;
  --state-layer-primary-container-016: #004ec016;
  --state-layer-on-primary-container-008: #fbf9ff08;
  --state-layer-on-primary-container-012: #fbf9ff12;
  --state-layer-on-primary-container-016: #fbf9ff16;
  --state-layer-on-secondary-008: #1c2e5b08;
  --state-layer-on-secondary-012: #1c2e5b12;
  --state-layer-on-secondary-016: #1c2e5b16;
  --state-layer-secondary-container-008: #293c6908;
  --state-layer-secondary-container-012: #293c6912;
  --state-layer-secondary-container-016: #293c6916;
  --state-layer-on-secondary-container-008: #c1d0ff08;
  --state-layer-on-secondary-container-012: #c1d0ff12;
  --state-layer-on-secondary-container-016: #c1d0ff16;
  --state-layer-on-tertiary-008: #54006d08;
  --state-layer-on-tertiary-012: #54006d12;
  --state-layer-on-tertiary-016: #54006d16;
  --state-layer-tertiary-container-008: #842da008;
  --state-layer-tertiary-container-012: #842da012;
  --state-layer-tertiary-container-016: #842da016;
  --state-layer-on-tertiary-container-008: #fffafa08;
  --state-layer-on-tertiary-container-012: #fffafa12;
  --state-layer-on-tertiary-container-016: #fffafa16;
  --state-layer-on-error-008: #69000508;
  --state-layer-on-error-012: #69000512;
  --state-layer-on-error-016: #69000516;
  --state-layer-error-container-008: #93000a08;
  --state-layer-error-container-012: #93000a12;
  --state-layer-error-container-016: #93000a16;
  --state-layer-on-error-container-008: #ffdad608;
  --state-layer-on-error-container-012: #ffdad612;
  --state-layer-on-error-container-016: #ffdad616;
  --state-layer-on-background-008: #e1e2ec08;
  --state-layer-on-background-012: #e1e2ec12;
  --state-layer-on-background-016: #e1e2ec16;
  --state-layer-on-surface-008: #e1e2ec08;
  --state-layer-on-surface-012: #e1e2ec12;
  --state-layer-on-surface-016: #e1e2ec16;
  --state-layer-surface-variant-008: #42465408;
  --state-layer-surface-variant-012: #42465412;
  --state-layer-surface-variant-016: #42465416;
  --state-layer-on-surface-variant-008: #c3c6d608;
  --state-layer-on-surface-variant-012: #c3c6d612;
  --state-layer-on-surface-variant-016: #c3c6d616;
  --state-layer-outline-variant-008: #42465408;
  --state-layer-outline-variant-012: #42465412;
  --state-layer-outline-variant-016: #42465416;
  --state-layer-inverse-surface-008: #e1e2ec08;
  --state-layer-inverse-surface-012: #e1e2ec12;
  --state-layer-inverse-surface-016: #e1e2ec16;
  --state-layer-inverse-on-surface-008: #2e303808;
  --state-layer-inverse-on-surface-012: #2e303812;
  --state-layer-inverse-on-surface-016: #2e303816;
  --state-layer-inverse-primary-008: #0856cf08;
  --state-layer-inverse-primary-012: #0856cf12;
  --state-layer-inverse-primary-016: #0856cf16;
  --state-layer-primary-fixed-008: #dae2ff08;
  --state-layer-primary-fixed-012: #dae2ff12;
  --state-layer-primary-fixed-016: #dae2ff16;
  --state-layer-on-primary-fixed-008: #00184708;
  --state-layer-on-primary-fixed-012: #00184712;
  --state-layer-on-primary-fixed-016: #00184716;
  --state-layer-primary-fixed-dim-008: #b2c5ff08;
  --state-layer-primary-fixed-dim-012: #b2c5ff12;
  --state-layer-primary-fixed-dim-016: #b2c5ff16;
  --state-layer-on-primary-fixed-variant-008: #0040a108;
  --state-layer-on-primary-fixed-variant-012: #0040a112;
  --state-layer-on-primary-fixed-variant-016: #0040a116;
  --state-layer-secondary-fixed-008: #dae2ff08;
  --state-layer-secondary-fixed-012: #dae2ff12;
  --state-layer-secondary-fixed-016: #dae2ff16;
  --state-layer-on-secondary-fixed-008: #02194508;
  --state-layer-on-secondary-fixed-012: #02194512;
  --state-layer-on-secondary-fixed-016: #02194516;
  --state-layer-secondary-fixed-dim-008: #b3c5fb08;
  --state-layer-secondary-fixed-dim-012: #b3c5fb12;
  --state-layer-secondary-fixed-dim-016: #b3c5fb16;
  --state-layer-on-secondary-fixed-variant-008: #33457308;
  --state-layer-on-secondary-fixed-variant-012: #33457312;
  --state-layer-on-secondary-fixed-variant-016: #33457316;
  --state-layer-tertiary-fixed-008: #fbd7ff08;
  --state-layer-tertiary-fixed-012: #fbd7ff12;
  --state-layer-tertiary-fixed-016: #fbd7ff16;
  --state-layer-on-tertiary-fixed-008: #33004408;
  --state-layer-on-tertiary-fixed-012: #33004412;
  --state-layer-on-tertiary-fixed-016: #33004416;
  --state-layer-tertiary-fixed-dim-008: #f0b0ff08;
  --state-layer-tertiary-fixed-dim-012: #f0b0ff12;
  --state-layer-tertiary-fixed-dim-016: #f0b0ff16;
  --state-layer-on-tertiary-fixed-variant-008: #72188f08;
  --state-layer-on-tertiary-fixed-variant-012: #72188f12;
  --state-layer-on-tertiary-fixed-variant-016: #72188f16;
  --state-layer-surface-dim-008: #11131a08;
  --state-layer-surface-dim-012: #11131a12;
  --state-layer-surface-dim-016: #11131a16;
  --state-layer-surface-bright-008: #37394108;
  --state-layer-surface-bright-012: #37394112;
  --state-layer-surface-bright-016: #37394116;
  --state-layer-surface-container-lowest-008: #0c0e1508;
  --state-layer-surface-container-lowest-012: #0c0e1512;
  --state-layer-surface-container-lowest-016: #0c0e1516;
  --state-layer-surface-container-low-008: #191b2308;
  --state-layer-surface-container-low-012: #191b2312;
  --state-layer-surface-container-low-016: #191b2316;
  --state-layer-surface-container-008: #1d1f2708;
  --state-layer-surface-container-012: #1d1f2712;
  --state-layer-surface-container-016: #1d1f2716;
  --state-layer-surface-container-high-008: #282a3108;
  --state-layer-surface-container-high-012: #282a3112;
  --state-layer-surface-container-high-016: #282a3116;
  --state-layer-surface-container-highest-008: #32343c08;
  --state-layer-surface-container-highest-012: #32343c12;
  --state-layer-surface-container-highest-016: #32343c16;
}
