.light {
  --bullet: url('./assets/img/list-bullet.svg');
  --green: #35AA53;

  /* brand */
  --brand-gradient: linear-gradient(
    137deg,
    #ba07f9 -2.5%,
    #8f07f9 -2.49%,
    #922ac3 18.79%,
    #548ae9 74.96%,
    #41afff 98.89%
  );

  /* transition */
  --transition: cubic-bezier(0.2, 0, 0, 1);

  /* colors */
  --primary: #0856cf;
  --on-primary: #ffffff;
  --primary-container: #dae2ff;
  --on-primary-container: #001847;
  --primary-fixed: #dae2ff;
  --on-primary-fixed: #001847;
  --primary-fixed-dim: #b2c5ff;
  --on-primary-fixed-variant: #0040a1;
  --secondary: #585e71;
  --on-secondary: #ffffff;
  --secondary-container: #dce2f9;
  --on-secondary-container: #151b2c;
  --secondary-fixed: #dae2ff;
  --on-secondary-fixed: #021945;
  --secondary-fixed-dim: #b3c5fb;
  --on-secondary-fixed-variant: #334573;
  --tertiary: #735471;
  --on-tertiary: #ffffff;
  --tertiary-container: #fed7f9;
  --on-tertiary-container: #2b122b;
  --tertiary-fixed: #fbd7ff;
  --on-tertiary-fixed: #330044;
  --tertiary-fixed-dim: #f0b0ff;
  --on-tertiary-fixed-variant: #72188f;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --outline: #757780;
  --background: #faf8ff;
  --on-background: #191b23;
  --surface: #faf8ff;
  --on-surface: #1b1b1f;
  --surface-variant: #dfe2f3;
  --on-surface-variant: #57575c;
  --inverse-surface: #2e3038;
  --inverse-on-surface: #f0f0fb;
  --inverse-primary: #b2c5ff;
  --shadow: #000000;
  --surface-tint: #0856cf;
  --outline-variant: #c3c6d6;
  --scrim: #000000;
  --surface-container-highest: #e1e2ec;
  --surface-container-high: #e7e7f2;
  --surface-container: #ededf8;
  --surface-container-low: #f3f3fd;
  --surface-container-lowest: #ffffff;
  --surface-bright: #faf8ff;
  --surface-dim: #d9d9e4;

  /* effects */
  --elevation-1: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-2: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-3: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.15);
  --elevation-4: 0px 2px 3px rgba(0, 0, 0, 0.3),
    0px 6px 10px rgba(0, 0, 0, 0.15);
  --elevation-5: 0px 4px 4px rgba(0, 0, 0, 0.3),
    0px 8px 12px rgba(0, 0, 0, 0.15);

  /* state layers */
  --state-layer-primary-008: #0043a808;
  --state-layer-primary-012: #0043a812;
  --state-layer-primary-016: #0043a816;
  --state-layer-on-primary-008: #ffffff08;
  --state-layer-on-primary-012: #ffffff12;
  --state-layer-on-primary-016: #ffffff16;
  --state-layer-primary-container-008: #eaddff08;
  --state-layer-primary-container-012: #eaddff12;
  --state-layer-primary-container-016: #eaddff16;
  --state-layer-on-primary-container-008: #21005d08;
  --state-layer-on-primary-container-012: #21005d12;
  --state-layer-on-primary-container-016: #21005d16;
  --state-layer-primary-fixed-008: #eaddff08;
  --state-layer-primary-fixed-012: #eaddff12;
  --state-layer-primary-fixed-016: #eaddff16;
  --state-layer-on-primary-fixed-008: #21005d08;
  --state-layer-on-primary-fixed-012: #21005d12;
  --state-layer-on-primary-fixed-016: #21005d16;
  --state-layer-primary-fixed-dim-008: #d0bcff08;
  --state-layer-primary-fixed-dim-012: #d0bcff12;
  --state-layer-primary-fixed-dim-016: #d0bcff16;
  --state-layer-on-primary-fixed-variant-008: #4f378b08;
  --state-layer-on-primary-fixed-variant-012: #4f378b12;
  --state-layer-on-primary-fixed-variant-016: #4f378b16;
  --state-layer-secondary-008: #4b5d8c08;
  --state-layer-secondary-012: #4b5d8c12;
  --state-layer-secondary-016: #4b5d8c16;
  --state-layer-on-secondary-008: #ffffff08;
  --state-layer-on-secondary-012: #ffffff12;
  --state-layer-on-secondary-016: #ffffff16;
  --state-layer-secondary-container-008: #e8def808;
  --state-layer-secondary-container-012: #e8def812;
  --state-layer-secondary-container-016: #e8def816;
  --state-layer-on-secondary-container-008: #1d192b08;
  --state-layer-on-secondary-container-012: #1d192b12;
  --state-layer-on-secondary-container-016: #1d192b16;
  --state-layer-secondary-fixed-008: #e8def808;
  --state-layer-secondary-fixed-012: #e8def812;
  --state-layer-secondary-fixed-016: #e8def816;
  --state-layer-on-secondary-fixed-008: #1d192b08;
  --state-layer-on-secondary-fixed-012: #1d192b12;
  --state-layer-on-secondary-fixed-016: #1d192b16;
  --state-layer-secondary-fixed-dim-008: #ccc2dc08;
  --state-layer-secondary-fixed-dim-012: #ccc2dc12;
  --state-layer-secondary-fixed-dim-016: #ccc2dc16;
  --state-layer-on-secondary-fixed-variant-008: #4a445808;
  --state-layer-on-secondary-fixed-variant-012: #4a445812;
  --state-layer-on-secondary-fixed-variant-016: #4a445816;
  --state-layer-tertiary-008: #751c9208;
  --state-layer-tertiary-012: #751c9212;
  --state-layer-tertiary-016: #751c9216;
  --state-layer-on-tertiary-008: #ffffff08;
  --state-layer-on-tertiary-012: #ffffff12;
  --state-layer-on-tertiary-016: #ffffff16;
  --state-layer-tertiary-container-008: #ffd8e408;
  --state-layer-tertiary-container-012: #ffd8e412;
  --state-layer-tertiary-container-016: #ffd8e416;
  --state-layer-on-tertiary-container-008: #31111d08;
  --state-layer-on-tertiary-container-012: #31111d12;
  --state-layer-on-tertiary-container-016: #31111d16;
  --state-layer-tertiary-fixed-008: #ffd8e408;
  --state-layer-tertiary-fixed-012: #ffd8e412;
  --state-layer-tertiary-fixed-016: #ffd8e416;
  --state-layer-on-tertiary-fixed-008: #31111d08;
  --state-layer-on-tertiary-fixed-012: #31111d12;
  --state-layer-on-tertiary-fixed-016: #31111d16;
  --state-layer-tertiary-fixed-dim-008: #efb8c808;
  --state-layer-tertiary-fixed-dim-012: #efb8c812;
  --state-layer-tertiary-fixed-dim-016: #efb8c816;
  --state-layer-on-tertiary-fixed-variant-008: #633b4808;
  --state-layer-on-tertiary-fixed-variant-012: #633b4812;
  --state-layer-on-tertiary-fixed-variant-016: #633b4816;
  --state-layer-error-008: #ba1a1a08;
  --state-layer-error-012: #ba1a1a12;
  --state-layer-error-016: #ba1a1a16;
  --state-layer-on-error-008: #ffffff08;
  --state-layer-on-error-012: #ffffff12;
  --state-layer-on-error-016: #ffffff16;
  --state-layer-error-container-008: #f9dedc08;
  --state-layer-error-container-012: #f9dedc12;
  --state-layer-error-container-016: #f9dedc16;
  --state-layer-on-error-container-008: #410e0b08;
  --state-layer-on-error-container-012: #410e0b12;
  --state-layer-on-error-container-016: #410e0b16;
  --state-layer-outline-008: #73778508;
  --state-layer-outline-012: #73778512;
  --state-layer-outline-016: #73778516;
  --state-layer-background-008: #faf8ff08;
  --state-layer-background-012: #faf8ff12;
  --state-layer-background-016: #faf8ff16;
  --state-layer-on-background-008: #1d1b2008;
  --state-layer-on-background-012: #1d1b2012;
  --state-layer-on-background-016: #1d1b2016;
  --state-layer-surface-008: #faf8ff08;
  --state-layer-surface-012: #faf8ff12;
  --state-layer-surface-016: #faf8ff16;
  --state-layer-on-surface-008: #1d1b2008;
  --state-layer-on-surface-012: #1d1b2012;
  --state-layer-on-surface-016: #1d1b2016;
  --state-layer-surface-variant-008: #e7e0ec08;
  --state-layer-surface-variant-012: #e7e0ec12;
  --state-layer-surface-variant-016: #e7e0ec16;
  --state-layer-on-surface-variant-008: #49454f08;
  --state-layer-on-surface-variant-012: #49454f12;
  --state-layer-on-surface-variant-016: #49454f16;
  --state-layer-inverse-surface-008: #322f3508;
  --state-layer-inverse-surface-012: #322f3512;
  --state-layer-inverse-surface-016: #322f3516;
  --state-layer-inverse-on-surface-008: #f5eff708;
  --state-layer-inverse-on-surface-012: #f5eff712;
  --state-layer-inverse-on-surface-016: #f5eff716;
  --state-layer-inverse-primary-008: #d0bcff08;
  --state-layer-inverse-primary-012: #d0bcff12;
  --state-layer-inverse-primary-016: #d0bcff16;
  --state-layer-shadow-008: #00000008;
  --state-layer-shadow-012: #00000012;
  --state-layer-shadow-016: #00000016;
  --state-layer-surface-tint-008: #6750a408;
  --state-layer-surface-tint-012: #6750a412;
  --state-layer-surface-tint-016: #6750a416;
  --state-layer-outline-variant-008: #cac4d008;
  --state-layer-outline-variant-012: #cac4d012;
  --state-layer-outline-variant-016: #cac4d016;
  --state-layer-scrim-008: #00000008;
  --state-layer-scrim-012: #00000012;
  --state-layer-scrim-016: #00000016;
  --state-layer-surface-container-highest-008: #e6e0e908;
  --state-layer-surface-container-highest-012: #e6e0e912;
  --state-layer-surface-container-highest-016: #e6e0e916;
  --state-layer-surface-container-high-008: #ece6f008;
  --state-layer-surface-container-high-012: #ece6f012;
  --state-layer-surface-container-high-016: #ece6f016;
  --state-layer-surface-container-008: #f3edf708;
  --state-layer-surface-container-012: #f3edf712;
  --state-layer-surface-container-016: #f3edf716;
  --state-layer-surface-container-low-008: #f7f2fa08;
  --state-layer-surface-container-low-012: #f7f2fa12;
  --state-layer-surface-container-low-016: #f7f2fa16;
  --state-layer-surface-container-lowest-008: #ffffff08;
  --state-layer-surface-container-lowest-012: #ffffff12;
  --state-layer-surface-container-lowest-016: #ffffff16;
  --state-layer-surface-bright-008: #fef7ff08;
  --state-layer-surface-bright-012: #fef7ff12;
  --state-layer-surface-bright-016: #fef7ff16;
  --state-layer-surface-dim-008: #ded8e108;
  --state-layer-surface-dim-012: #ded8e112;
  --state-layer-surface-dim-016: #ded8e116;
  --state-layer-surface-tint-008: #0856cf08;
  --state-layer-surface-tint-012: #0856cf12;
  --state-layer-surface-tint-016: #0856cf16;
  --state-layer-on-primary-008: #ffffff08;
  --state-layer-on-primary-012: #ffffff12;
  --state-layer-on-primary-016: #ffffff16;
  --state-layer-primary-container-008: #2b67e008;
  --state-layer-primary-container-012: #2b67e012;
  --state-layer-primary-container-016: #2b67e016;
  --state-layer-on-primary-container-008: #ffffff08;
  --state-layer-on-primary-container-012: #ffffff12;
  --state-layer-on-primary-container-016: #ffffff16;
  --state-layer-on-secondary-008: #ffffff08;
  --state-layer-on-secondary-012: #ffffff12;
  --state-layer-on-secondary-016: #ffffff16;
  --state-layer-secondary-container-008: #c0cfff08;
  --state-layer-secondary-container-012: #c0cfff12;
  --state-layer-secondary-container-016: #c0cfff16;
  --state-layer-on-secondary-container-008: #293b6808;
  --state-layer-on-secondary-container-012: #293b6812;
  --state-layer-on-secondary-container-016: #293b6816;
  --state-layer-on-tertiary-008: #ffffff08;
  --state-layer-on-tertiary-012: #ffffff12;
  --state-layer-on-tertiary-016: #ffffff16;
  --state-layer-tertiary-container-008: #9e47ba08;
  --state-layer-tertiary-container-012: #9e47ba12;
  --state-layer-tertiary-container-016: #9e47ba16;
  --state-layer-on-tertiary-container-008: #ffffff08;
  --state-layer-on-tertiary-container-012: #ffffff12;
  --state-layer-on-tertiary-container-016: #ffffff16;
  --state-layer-on-error-008: #ffffff08;
  --state-layer-on-error-012: #ffffff12;
  --state-layer-on-error-016: #ffffff16;
  --state-layer-error-container-008: #ffdad608;
  --state-layer-error-container-012: #ffdad612;
  --state-layer-error-container-016: #ffdad616;
  --state-layer-on-error-container-008: #41000208;
  --state-layer-on-error-container-012: #41000212;
  --state-layer-on-error-container-016: #41000216;
  --state-layer-on-background-008: #191b2308;
  --state-layer-on-background-012: #191b2312;
  --state-layer-on-background-016: #191b2316;
  --state-layer-on-surface-008: #191b2308;
  --state-layer-on-surface-012: #191b2312;
  --state-layer-on-surface-016: #191b2316;
  --state-layer-surface-variant-008: #dfe2f308;
  --state-layer-surface-variant-012: #dfe2f312;
  --state-layer-surface-variant-016: #dfe2f316;
  --state-layer-on-surface-variant-008: #42465408;
  --state-layer-on-surface-variant-012: #42465412;
  --state-layer-on-surface-variant-016: #42465416;
  --state-layer-outline-variant-008: #c3c6d608;
  --state-layer-outline-variant-012: #c3c6d612;
  --state-layer-outline-variant-016: #c3c6d616;
  --state-layer-inverse-surface-008: #2e303808;
  --state-layer-inverse-surface-012: #2e303812;
  --state-layer-inverse-surface-016: #2e303816;
  --state-layer-inverse-on-surface-008: #f0f0fb08;
  --state-layer-inverse-on-surface-012: #f0f0fb12;
  --state-layer-inverse-on-surface-016: #f0f0fb16;
  --state-layer-inverse-primary-008: #b2c5ff08;
  --state-layer-inverse-primary-012: #b2c5ff12;
  --state-layer-inverse-primary-016: #b2c5ff16;
  --state-layer-primary-fixed-008: #dae2ff08;
  --state-layer-primary-fixed-012: #dae2ff12;
  --state-layer-primary-fixed-016: #dae2ff16;
  --state-layer-on-primary-fixed-008: #00184708;
  --state-layer-on-primary-fixed-012: #00184712;
  --state-layer-on-primary-fixed-016: #00184716;
  --state-layer-primary-fixed-dim-008: #b2c5ff08;
  --state-layer-primary-fixed-dim-012: #b2c5ff12;
  --state-layer-primary-fixed-dim-016: #b2c5ff16;
  --state-layer-on-primary-fixed-variant-008: #0040a108;
  --state-layer-on-primary-fixed-variant-012: #0040a112;
  --state-layer-on-primary-fixed-variant-016: #0040a116;
  --state-layer-secondary-fixed-008: #dae2ff08;
  --state-layer-secondary-fixed-012: #dae2ff12;
  --state-layer-secondary-fixed-016: #dae2ff16;
  --state-layer-on-secondary-fixed-008: #02194508;
  --state-layer-on-secondary-fixed-012: #02194512;
  --state-layer-on-secondary-fixed-016: #02194516;
  --state-layer-secondary-fixed-dim-008: #b3c5fb08;
  --state-layer-secondary-fixed-dim-012: #b3c5fb12;
  --state-layer-secondary-fixed-dim-016: #b3c5fb16;
  --state-layer-on-secondary-fixed-variant-008: #33457308;
  --state-layer-on-secondary-fixed-variant-012: #33457312;
  --state-layer-on-secondary-fixed-variant-016: #33457316;
  --state-layer-tertiary-fixed-008: #fbd7ff08;
  --state-layer-tertiary-fixed-012: #fbd7ff12;
  --state-layer-tertiary-fixed-016: #fbd7ff16;
  --state-layer-on-tertiary-fixed-008: #33004408;
  --state-layer-on-tertiary-fixed-012: #33004412;
  --state-layer-on-tertiary-fixed-016: #33004416;
  --state-layer-tertiary-fixed-dim-008: #f0b0ff08;
  --state-layer-tertiary-fixed-dim-012: #f0b0ff12;
  --state-layer-tertiary-fixed-dim-016: #f0b0ff16;
  --state-layer-on-tertiary-fixed-variant-008: #72188f08;
  --state-layer-on-tertiary-fixed-variant-012: #72188f12;
  --state-layer-on-tertiary-fixed-variant-016: #72188f16;
  --state-layer-surface-dim-008: #d9d9e408;
  --state-layer-surface-dim-012: #d9d9e412;
  --state-layer-surface-dim-016: #d9d9e416;
  --state-layer-surface-bright-008: #faf8ff08;
  --state-layer-surface-bright-012: #faf8ff12;
  --state-layer-surface-bright-016: #faf8ff16;
  --state-layer-surface-container-lowest-008: #ffffff08;
  --state-layer-surface-container-lowest-012: #ffffff12;
  --state-layer-surface-container-lowest-016: #ffffff16;
  --state-layer-surface-container-low-008: #f3f3fd08;
  --state-layer-surface-container-low-012: #f3f3fd12;
  --state-layer-surface-container-low-016: #f3f3fd16;
  --state-layer-surface-container-008: #ededf808;
  --state-layer-surface-container-012: #ededf812;
  --state-layer-surface-container-016: #ededf816;
  --state-layer-surface-container-high-008: #e7e7f208;
  --state-layer-surface-container-high-012: #e7e7f212;
  --state-layer-surface-container-high-016: #e7e7f216;
  --state-layer-surface-container-highest-008: #e1e2ec08;
  --state-layer-surface-container-highest-012: #e1e2ec12;
  --state-layer-surface-container-highest-016: #e1e2ec16;
}
