.progress_indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: var(--secondary-container);
  & > div {
    animation: line 1s linear infinite;
    position: absolute;
    height: inherit;
    background: var(--primary);
  }
}

@keyframes line {
  0% {
    width: 0;
    left: 0;
  }
  40% {
    width: 50%;
    left: 0;
  }
  50% {
    left: 10%;
    width: 70%;
  }
  60% {
    left: 30%;
    width: 70%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}