.progress_indicator {
  display: flex;
  margin-top: 0.75rem;
  width: 100%;
  height: 4px;
  border-radius: 100rem;
  gap: 0.25rem;
  & div {
    display: flex;
    background: var(--secondary-container);
    border-radius: inherit;
    width: 100px;
  }
  & div:nth-child(2n) {
    display: flex;
    background: var(--primary);
    border-radius: inherit;
  }
  & div:nth-child(1) {
    animation: l1 2s linear infinite;
  }
  & div:nth-child(2) {
    animation: l2 2s linear infinite;
  }
  & div:nth-child(3) {
    animation: l3 2s linear infinite;
  }
  & div:nth-child(4) {
    animation: l4 2s linear infinite;
  }
  & div:nth-child(5) {
    animation: l5 2s linear infinite;
  }
}

@keyframes l1 {
  0% {
    width: 0;
    display: none;
  }
  40% {
    width: 0;
    display: flex;
  }
  50% {
    width: 20%;
  }
  62.5% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes l2 {
  0% {
    width: 0;
    display: none;
  }
  30% {
    width: 0;
    display: flex;
  }
  45% {
    width: 37.5%;
  }
  52.5% {
    width: 70%;
  }
  62.5% {
    width: 0;
    display: none;
  }
  100% {
    display: none;
  }
}

@keyframes l3 {
  0% {
    width: 0;
    display: none;
  }
  10% {
    width: 0;
    display: flex;
  }
  27.5% {
    width: 22.5%;
  }
  32.5% {
    width: 47%;
  }
  37.5% {
    width: 77.5%;
  }
  40.25% {
    width: 77.5%;
  }
  52.5% {
    width: 0;
    display: none;
  }
  100% {
    display: none;
  }
}

@keyframes l4 {
  0% {
    width: 0;
  }
  10% {
    width: 3%;
  }
  27.5% {
    width: 32%;
  }
  32.5% {
    width: 52.5%;
  }
  42.5% {
    width: 0;
    display: none;
  }
  100% {
    display: none;
  }
}

@keyframes l5 {
  0% {
    width: 100%;
  }
  10% {
    width: 97%;
  }
  27.5% {
    width: 54.5%;
  }
  32.5% {
    width: 0;
    display: none;
  }
  100% {
    display: none;
  }
}
