.progress_indicator {
  position: relative;
  margin: 0 auto;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  & > svg {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    & > circle {
      stroke: var(--primary);
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 2s linear infinite;
      stroke-linecap: round;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-80deg);
  }
  10% {
    transform: rotate(35deg);
  }
  25% {
    transform: rotate(100deg);
  }
  42.5% {
    transform: rotate(280deg);
  }
  62.5% {
    transform: rotate(640deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 0, 200;
  }
  10% {
    stroke-dasharray: 55, 200;
  }
  25% {
    stroke-dasharray: 100, 200;
  }
  42.5% {
    stroke-dasharray: 115, 200;
  }
  62.5% {
    stroke-dasharray: 25, 200;
  }
  77.5% {
    stroke-dasharray: 12, 200;
  }
  100% {
    stroke-dasharray: 0, 200;
  }
}
