.backdrop {
  display: flex;
  position: absolute;
  z-index: 100000;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: var(--scrim);
  transition: opacity 0.3s var(--transition);
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  flex-shrink: 0;
  transform: translateX(100%);
  overflow: hidden;
  transition: transform 0.3s var(--transition);
  & > .sidesheet {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: clamp(0px, 100%, 21.25rem);
    flex-shrink: 0;
    border-radius: 1rem 0 0 1rem;
    background: var(--surface-container);
    & > header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 0.75rem 0.25rem 1.5rem;
      &::before {
        content: '';
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 0.75rem;
        background: linear-gradient(
          180deg,
          var(--surface-container),
          transparent
        );
        left: 0;
        top: 100%;
      }
      & > h1 {
        flex: 1;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    & > main {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0.75rem 1.5rem 1.5rem 1.5rem;
      overflow-y: auto;
      &::-webkit-scrollbar {
        background: none;
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--surface-container-highest);
        width: 6px;
      }
    }
    & > footer {
      display: flex;
      padding: 0.75rem 1.5rem 1.5rem 1.5rem;
      gap: 0.5rem;
      & > div {
        width: 100%;
        display: flex;
        padding: 0.25rem 0.25rem 0.25rem 1rem;
        align-items: center;
        background: var(--surface-container-lowest);
        border-radius: 100rem;
        & > input {
          height: fit-content;
          flex: 1;
          border: none;
          background: none;
          outline: none;
        }
      }
    }
  }
}

.open {
  transform: translateX(0);
}

@media screen and (max-width: 500px) {
  .container {
    right: 0;
    transform: translateY(100%);
    width: 100%;
    top: auto;
    height: clamp(320px, calc(100% - 1.5rem), 700px);
    display: flex;
    align-items: flex-end;
    & > .sidesheet {
      width: 100%;
      border-radius: 1rem 1rem 0 0;
      height: 100%;
    }
  }
  .open {
    transform: translateY(0);
  }
}

@media screen and (min-width: 900px) {
  .backdrop {
    display: none;
  }
  .container {
    width: 0;
    opacity: 1;
    height: 100%;
    position: relative;
    border-radius: 1rem;
    transition: width 0.3s var(--transition);
    overflow: visible;
    transform: none;
    & > .sidesheet {
      width: 21.25rem;
    }
  }
  .open {
    width: clamp(0px, 100%, 21.25rem);
  }
}