.discover {
  display: flex;
  flex-direction: column;
  width: clamp(0px, 100%, 800px);
  align-self: center;
  & > div {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1.5rem 1.5rem 1.5rem;
    align-items: center;
    & > div {
      display: flex;
      flex-direction: column;
      & > h1 {
        background: var(--brand-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: 600;
        width: fit-content;
      }
      & > h2 {
        color: var(--on-surface);
        opacity: 0.3;
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .discover > div > div {
    & > h1,
    & > h2 {
      font-size: 57px;
      line-height: 64px;
      letter-spacing: -0.25px;
    }
  }
}
