.discover {
  display: flex;
  flex-direction: column;
  & > div {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    & > h1 {
      background: var(--brand-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
    & > h2 {
      color: var(--on-surface);
    }
  }
}
