.checkbox {
  display: flex;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  & > div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.9375rem;
    border-radius: 100rem;
    align-items: center;
    justify-content: center;
    &:hover {
      background: var(--state-layer-primary-008);
    }
    &:active {
      background: var(--state-layer-primary-012);
    }
    & > div {
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 0.125rem;
      border: 0.125rem solid var(--on-surface-variant);
    }
    & > span {
      position: absolute;
      color: var(--on-primary);
    }
  }
}

.checked {
  & > div {
    &:hover {
      background: var(--state-layer-on-surface-variant-008);
    }
    &:active {
      background: var(--state-layer-on-surface-variant-012);
    }
    & > div {
      border: none;
      background: var(--primary);
    }
  }
}
