.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  z-index: 10000;
  & > .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--scrim);
    opacity: 0;
    transition: opacity 0.3s var(--transition);
  }
  & > .container {
    background: var(--surface-container-lowest);
    z-index: 10;
    height: 100px;
    width: 100px;
    opacity: 0;
    scale: 0.6;
    transition: opacity 0.3s var(--transition), scale 0.3s var(--transition);
  }
}

.is_open {
  & > .backdrop {
    opacity: 0.5;
  }
  & > .container {
    opacity: 1;
    scale: 1;
  }
}
