.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  // border: 1px solid var(--outline-variant);
  background: var(--surface-container);
  // background: var(--state-layer-primary-008);
  cursor: pointer;
  user-select: none;
  width: fit-content;
  height: fit-content;
  & > div {
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.375rem 0.75rem;
    color: var(--on-surface-variant);
    transition: background 0.2s var(--transition);
    text-wrap: nowrap;
    & > span {
      font-size: 1.125rem;
    }
  }
  &:hover > div {
    background: var(--state-layer-on-surface-variant-008);
  }
  &:active > div {
    background: var(--state-layer-on-surface-variant-012);
  }
}

.low {
  background: var(--surface-container-low);
}

.active {
  background: var(--secondary-container);
  border: none;
  & > div {
    color: var(--on-secondary-container);
  }
  &:hover > div {
    background: none;
  }
  &:active > div {
    background: none;
  }
}