.modal {
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  padding: 0 1.5rem;
  z-index: 1000000;
  overflow: hidden;
  & > .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--scrim);
    opacity: 0;
    transition: opacity 0.3s var(--transition);
  }
  & > .container {
    background: var(--surface-container-low);
    z-index: 10;
    padding: 1.5rem;
    width: 20rem;
    opacity: 0;
    scale: 0.6;
    transition: opacity 0.3s var(--transition), scale 0.3s var(--transition);
    border-radius: 1.75rem;
    & > h1 {
      color: var(--on-surface);
    }
    & > p {
      padding-top: 1rem;
    }
    & > .container_button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 1rem;
      gap: 0.5rem;
    }
  }
}

.is_open {
  & > .backdrop {
    opacity: 0.5;
  }
  & > .container {
    opacity: 1;
    scale: 1;
  }
}