.icon_button {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  flex-shrink: 0;
  & > div {
    display: flex;
    border-radius: 100rem;
    width: 2.5rem;
    height: 2.5rem;
    & > div {
      position: relative;
      border-radius: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      transition: all 0.2s var(--transition);
      width: inherit;
      height: inherit;
      & > div {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: inherit;
        flex-shrink: 0;
        & > img {
          width: inherit;
          height: inherit;
        }
      }
      & > span {
        z-index: 10;
      }
    }
  }
}

.standard,
.filled_small,
.standard_primary {
  & > div > div > span {
    color: var(--on-surface-variant);
  }
  &:hover > div > div {
    background: var(--state-layer-on-surface-variant-008);
  }
  &:active > div > div {
    background: var(--state-layer-on-surface-variant-012);
  }
}

.filled_small_primary {
  & > div > div > span {
    color: var(--on-primary-container);
  }
  &:hover > div > div {
    background: var(--state-layer-on-surface-variant-008);
  }
  &:active > div > div {
    background: var(--state-layer-on-surface-variant-012);
  }
}

.filled_secondary_container {
  & > div {
    background: var(--secondary-container);
    & > div > span {
    color: var(--on-secondary-container);
  }
  }
  &:hover > div > div {
    background: var(--state-layer-on-secondary-container-008);
  }
  &:active > div > div {
    background: var(--state-layer-on-secondary-container-012);
  }
}

.filled {
  & > div {
    background: var(--primary);
  }
  & > div > div > span {
    color: var(--on-primary);
  }
  &:hover > div > div {
    background: var(--state-layer-on-primary-008);
  }
  &:active > div > div {
    background: var(--state-layer-on-primary-012);
  }
}

.override_padding {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.high_contrast > div > div > span {
  color: var(--on-surface);
}

.standard_primary {
  & > div > div > span {
    color: var(--primary);
  }
  &:hover > div > div {
    background: var(--state-layer-primary-008);
  }
  &:active > div > div {
    background: var(--state-layer-primary-012);
  }
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
