*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: none;
  margin: none;
  width: fit-content;
  height: fit-content;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background: var(--surface-container-lowest);
  color: var(--on-surface);
  font-family: 'Manrope';
  font-weight: 500;
}

/// tiptap ///
.tiptap {
  outline: none;
  border: none;
  > * + * {
    margin-top: 0.625rem;
  }

  .is-editor-empty:first-child::before {
    color: var(--on-surface-variant);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  strong {
    font-weight: 700;
  }

  ul,
  ol {
    padding: 0 1.25rem;
  }

  li {
    position: relative;
    list-style: none;
    &::before {
      fill: var(--on-surface);
      display: inline-block;
      position: absolute;
      top: 8px;
      left: -16px;
      width: 8px;
      height: 8px;
      rotate: calc(var(--rotation) * 36deg);
      background-image: var(--bullet);
      line-height: 0;
      text-align: center;
      content: '';
    }
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
  }
  h4 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
  }
  h6 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }

  p {
    color: var(--on-surface);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
  }

  code {
    background-color: var(--surface-container);
    color: var(--on-surface);
  }

  pre {
    background: var(--inverse-surface);
    color: var(--inverse-on-surface);
    font-family: 'JetBrains Mono';
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    width: fit-content;
    code {
      color: inherit;
      padding: 0;
      font-family: inherit;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    max-height: 20rem;
    object-fit: cover;
    background-color: var(--surface-container);
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid var(--primary);
  }

  hr {
    border: none;
    border-top: 1px solid var(--outline-variant);
    margin: 0.75rem 0;
  }

  a {
    color: var(--primary);
    cursor: pointer;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }
}
