@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.display-large {
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.display-medium {
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.display-small {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.25px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.headline-large {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.headline-medium {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.headline-small {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.title-large {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.title-medium {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.title-small {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.body-large {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.body-medium {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.body-small {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.label-large-prominent {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
.label-large {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
.label-medium-prominent {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
.label-medium {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
.label-small {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}